body {
  margin: 0;
  padding: 0;
  background-color:black;

}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  font-family: Garamond;
  border: 15px solid #138d75; 
  width: 80%;
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 5%;
  background-color: white;

}

.title {
  color: black;
  padding-right: 10%
  font-size: 150%;

}

.subtitle {
  color: black;
  font-size: 94%;

}



.home {
  background-color: white;
  display:inline-block;
  width:6%;
  margin-left: 20%;
  margin-top: 3%;
  padding: 15px 25px;

  /* border radius */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 15px;

  /* font */
  font-family: Garamond;
  font-weight: 300;
  font-size: 1.2rem;

  border-left: 4px solid #e5d0d0;
  border-right: 4px solid #fff2f2;

}

.about {
  width:6%;
  display:inline-block;
  background-color: white;
  padding: 15px 25px;
  margin-left: 2%;

  /*border radius*/
  border-top-right-radius: 3px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 15px;

  font-family: Garamond;
  font-weight: 300;
  font-size: 1.2rem;

  border-left: 4px solid #e5d0d0;
  border-right: 4px solid #fff2f2;
}

.contact {
  display: inline-block;
  width:6%;
  background-color: white;
  padding: 15px 25px;
  margin-left: 2%;

  /*border radius*/
  border-top-right-radius: 3px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 15px;

  font-family: Garamond;
  font-weight: 300;
  font-size: 1.2rem;

  border-left: 4px solid #e5d0d0;
  border-right: 4px solid #fff2f2;
}

.home:hover {
  background-color: white;
  border-left-color: rgb(115, 160, 196);
  border-right-color: rgb(209, 234, 255);
  color: white;

}

.about:hover {
  background-color: white;
  border-left-color: rgb(115, 160, 196);
  border-right-color: rgb(209, 234, 255);
  color: white;

}

.contact:hover {
  background-color: white;
  border-left-color: rgb(115, 160, 196);
  border-right-color: rgb(209, 234, 255);
  color: white;

}
