body {
  margin: 0;
  padding: 0;
  background-color:black;

}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  border: 5px solid rgb(213, 216, 220);
  background-color: black;
  padding-top: 100px;
  font-family: "Garamond", serif;
  font-size: 100px;
  text-align: center;
  width: 70%;
  padding-left: 17.5%;
  word-spacing: 0.05em;
  color: rgb(213, 216, 220);
}

h2 {
  color: rgb(213, 216, 220);
  font-weight: 100;
  font-family: "Garamond", serif;
  font-style: italic;
  font-size: 50px;
  line-height: 24px;
  text-align: right; 
  padding-bottom: 50px;
  padding-right: 17.5%;
  border-bottom: 10px solid rgba(39, 55, 70, 0.5); 
}



.portfolio {
  background-color: white;
  display:inline-block;
  width:8%;
  margin-left: 30%;
  margin-top: 5%;
  padding: 15px 25px;

  /* border radius */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 15px;

  /* font */
  font-family: "Garamond", serif;
  font-weight: 300;
  font-size: 1.2rem;

  border-left: 4px solid #e5d0d0;
  border-right: 4px solid #fff2f2;

}

.about {
  width:8%;
  display:inline-block;
  background-color: white;
  padding: 15px 25px;
  margin-left: 6%;

  /*border radius*/
  border-top-right-radius: 3px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 15px;

  font-family: "Garamond", serif;
  font-weight: 300;
  font-size: 1.2rem;

  border-left: 4px solid #e5d0d0;
  border-right: 4px solid #fff2f2;
}

.contact {
  display: inline-block;
  width:8%;
  background-color: white;
  padding: 15px 25px;
  margin-left: 6%;

  /*border radius*/
  border-top-right-radius: 3px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 15px;

  font-family: "Garamond", serif;
  font-weight: 300;
  font-size: 1.2rem;

  border-left: 4px solid #e5d0d0;
  border-right: 4px solid #fff2f2;
}

.portfolio:hover {
  background-color: white;
  border-left-color: rgb(115, 160, 196);
  border-right-color: rgb(209, 234, 255);
  color: rgba(253, 254, 254, 0.8);

}

.about:hover {
  background-color: white;
  border-left-color: rgb(115, 160, 196);
  border-right-color: rgb(209, 234, 255);
  color: (253, 254, 254, 0.8);

}

.contact:hover {
  background-color: white;
  border-left-color: rgb(115, 160, 196);
  border-right-color: rgb(209, 234, 255);
  color: (253, 254, 254, 0.8);

}
